
p{
    color:red;
    font-size:18px;
}

h6 {
    font-weight:normal;
    padding:0px;
    margin:0px;
    font-size:14px;
}

.pNew{
    color:green;
}

.fNew {
    font-weight:bold;
    font-size:15px;
}
.newMan{
    background-color: lightgray;
}