
<parent-app *ngIf="arrayOfStudents" 
        [all]="getAll()"
        [male]="getMale()"
        [female]="getFemale()"
        (Diplomat)="selectedButton($event)"></parent-app>

<span style="font-size:18px">
    <table border="1">
        <tr *ngFor="let a  of arrayOfStudents;">
                <span *ngIf="onChange == a.sex || onChange == 'all'">
                    <td>{{a.userId}}</td>
                    <td>{{a.id}}</td>
                    <td>{{a.title}}</td>
                    <td>{{a.completed}}</td>
                </span>
</tr>
        <tr *ngIf="arrayOfStudents && arrayOfStudents.length==0">
              <td colspan="4">No Data to display</td>
        </tr>
        <tr *ngIf="!arrayOfStudents">
            <td colspan="4">{{errorF}}.</td>
        </tr>
    </table>
</span>